<!DOCTYPE html>
<html>

<head>
    <title>problem</title>
    <link rel="stylesheet" type="text/css" href="problem.css">
</head>

<body>
    <div id="nav_menu">
        <img src="moj_logo.png", width="400", height="70">
        <ul>
            <li>문제</li>
            <li>대회</li>
            <li>랭킹</li>
            <li>마이페이지</li>
            <li>게시판</li>
        </ul>
    </div>
    <div id="content">
        <!-- 문제 들어가는 div -->
        <div id="move">
            <div id="prev">
                <p>이전문제</p>
            </div>
            <div id="number">
                <p>1000</p>
            </div>
            <div id="next">
                <p>다음문제</p>
            </div>
        </div>
        <div id="title">
            <div id="problem_name"><%= problem.title %></div>
            <div id="grade"><%= problem.classification %> </div>
        </div>
        <div id="info">
            <p>제출 : <%= problem.submission %> | 정답 : <%= problem.correct %> | 정답률 : <%= (problem.submission / problem.correct) *100 %>%</p>
        </div>
        <div id="problem">
            <div id="munjae">
                <p>문제</p>
            </div>
            <div id="naeyong">
                <%= problem.content %>
            </div>
            </div>
            <div id="answer">
                <form action="<%= "/problem/submit/" + problem.id %>">
                    <div>
                        <input type="text" name="result" placeholder="답">
                        <input type="submit" name="submit">
                    </div>
                </form>
            </div>
        </div>
</body>

</html>