<!DOCTYPE html>
<html>

<head>
    <title>문제</title>
    <link rel="stylesheet" type="text/css" href="../css/problemlist.css">
</head>

<body>
    <div id="nav_menu">
        <img src="../img/moj_logo.png", width="400", height="70">
        <ul>
            <li>문제</li>
            <li>대회</li>
            <li>랭킹</li>
            <li>마이페이지</li>
            <li>게시판</li>
        </ul>
    </div>
    <div id="content">
        <div id="move">
            <div id="problem" class="now">
                <a href="/problem/list">문제</a>
            </div>
                <div id="problemset" class="notnow">
                    <a href="problemset.html">문제집</a>
                </div>
                <div id="fovorites" class="notnow">
                    <a href="favorites.html">즐겨찾기</a>
                </div>
                <div id="wrongproblem" class="notnow">
                    <a href="/problem/wrongs">틀린 문제</a>
                </div>
            <div id="find">
                <form action="#">
                    <input type="text" name="findproblem" placeholder="검색">
                    <input type="submit" name="submit">
                </form>
            </div>
        </div>
            <table id="list">
                <tr>
                    <th>문제 번호</th>
                    <th>문제 이름</th>
                    <th>분류</th>
                    <th>맞은 사람</th>
                    <th>정답률</th>
                </tr>
                <% for(var i=0;i<problems.length;i++) { %>
                <tr>
                    <td> <%= problmes[i].id %> <td>
                    <td> <%= problems[i].title %> <td>
                    <td> <%= problems[i].classfication %> <td>
                    <td> <%= problems[i].correct %> <td>
                    <td> <%= (problems[i].submission / problems[i].correct) *100 %>
                </tr>
                <% } %>
            </table>
    </div>
</body>

</html>
